<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment 03 By Imesh</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/styles.css">
   <!-- <style>


    </style>-->
</head>
<body>
<div></div>
<div></div>
<section>
    <div>
        <p>Hello</p>
    </div>
</section>
<section>
    <div>
        <p>Welcome</p>
    </div>
</section>
<section>
    <div>
        <p>Institute <br> of <br> Software <br> Engineering</p>
    </div>
</section>
</body>
</html>