<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment 4 By Imesh</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/styles.css">
  <!--  <style>


    </style>-->
</head>
<body>
<section id="sec1">
    <div id="card1">Card 1</div>
    <div>Hello</div>
</section>
<section id="sec2">
    <div id="card2">Card 2</div>
    <div>How</div>
</section>
<section id="sec3">
    <div id="card3">Card 3</div>
    <div>Are</div>
</section>
<section id="sec4">
    <div id="card4">Card 4</div>
    <div>You..?</div>
</section>
</body>
</html>